/* Changes background colour of about section */

.custom-line-height {
  line-height: 2;
}

/* Changes background image of about page */
.about-bg-image {
  background-image: url("../../../assets/about_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (min-width: 991.98px) {
  #about .container h1 {
    font-size: 3.5rem;
  }
}
