/* Contact */

/* Changes background colour of contact form */
.contact-form {
    background-color: #323232;
}

/* Custom styling for form inputs and text area */
#contact form input,
#contact form textarea {
    background-color: #323232;
    color: #fff;
    border: none;
    box-shadow: none;
    border: 3px solid #fff;
    border-radius: 0px;
    resize: none;    
}

/* Changes colour of placeholder text */
#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #8f9798;
}
