.order {
  overflow: hidden;
  height: 350px;
}

.card-products {
  overflow-y: auto;
}

.order-info-closed {
  background-color: #d9d9d9;
  max-height: 70px;
  overflow: hidden;
}

.order-info-open {
  background-color: #d9d9d9;
  max-height: 100%;
  transition: max-height 0.3s ease-out;
}

.order-product:hover {
  background-color: #d9d9d9;
}

.cursor-pointer {
  cursor: pointer;
}
